// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.patient {
  border-bottom: solid 1px  #CCC;
  border-radius: 4px;
  padding: 5px 0
  
  
    
  
}
