<h2><%= @patient.name %></h2>


  <% @patient.appointments.each do |appointment| %>
 
    <h3>Date <%= appointment.date %></h3>
    <h3>Time <%= appointment.time %></h3>
 _____________________________________________________

    <% end %>

<p>
  <%= link_to "Schedule an Appointment", new_patient_appointment_path %>
</p>  
