<h1><%= @patient.name %></h1>
<p>Find me in app/views/appointments/index.html.erb</p>

<ul class="appointments">
  <% @patients.appointments.each do |appointment| %>
  <li><%= appointment.content %></li>
  <ul>
    
