<h1><%= @patient.name %></h1>

<ul class="appointments">
  <% @patients.appointments.each do |appointment| %>
  <li><%= appointment.date %></li>
  <li><%= appointment.hour %></li>
  </ul>
    
<p>
  <%= link_to "Appointment", new_patient_appointment_path %>
  
</p>  
